# External PC Connection Version
# UPF and server are external nodes connected via bridge networks
services:
  r1:
    build: 
      context: ./router
      dockerfile: Dockerfile_r1
    container_name: r1
    hostname: r1
    privileged: true
    restart: always
    networks:
      external-upf:                 # 外部UPF接続用
        ipv6_address: "fd00:1::12"
      r1-r2:
        ipv6_address: "fd01:1::11"
      r1-r3:
        ipv6_address: "fd01:16::11"
      controller-r:
        ipv6_address: "fd02:1::2"

  r2:
    build: 
      context: ./router
    container_name: r2
    hostname: r2
    privileged: true
    restart: always
    networks:
      r1-r2:
        ipv6_address: "fd01:1::12"
      r2-r4:
        ipv6_address: "fd01:2::11"
      r2-r5:
        ipv6_address: "fd01:4::11"
      controller-r:
        ipv6_address: "fd02:1::3"

  r3:
    build: 
      context: ./router
    container_name: r3
    hostname: r3
    privileged: true
    restart: always
    networks:
      r1-r3:
        ipv6_address: "fd01:16::12"
      r3-r5:
        ipv6_address: "fd01:17::11"
      r3-r6:
        ipv6_address: "fd01:15::11"
      controller-r:
        ipv6_address: "fd02:1::4"

  r4:
    build: 
      context: ./router
    container_name: r4
    hostname: r4
    privileged: true
    restart: always
    networks:
      r2-r4:
        ipv6_address: "fd01:2::12"
      r4-r7:
        ipv6_address: "fd01:3::11"
      r4-r8:
        ipv6_address: "fd01:6::11"
      controller-r:
        ipv6_address: "fd02:1::5"

  r5:
    build: 
      context: ./router
    container_name: r5
    hostname: r5
    privileged: true
    restart: always
    networks:
      r2-r5:
        ipv6_address: "fd01:4::12"
      r3-r5:
        ipv6_address: "fd01:17::12"
      r5-r8:
        ipv6_address: "fd01:5::11"
      r5-r9:
        ipv6_address: "fd01:12::11"
      controller-r:
        ipv6_address: "fd02:1::6"

  r6:
    build: 
      context: ./router
      dockerfile: Dockerfile
    container_name: r6
    hostname: r6
    privileged: true
    restart: always
    networks:
      r3-r6:
        ipv6_address: "fd01:15::12"
      r6-r9:
        ipv6_address: "fd01:18::11"
      r6-r10:
        ipv6_address: "fd01:14::11"
      controller-r:
        ipv6_address: "fd02:1::7"
  r7:
    build: 
      context: ./router
    container_name: r7
    hostname: r7
    privileged: true
    restart: always
    networks:
      r4-r7:
        ipv6_address: "fd01:3::12"
      r7-r11:
        ipv6_address: "fd01:8::11"
      controller-r:
        ipv6_address: "fd02:1::8"
  r8:
    build: 
      context: ./router
    container_name: r8
    hostname: r8
    privileged: true
    restart: always
    networks:
      r4-r8:
        ipv6_address: "fd01:6::12"
      r5-r8:
        ipv6_address: "fd01:5::12"
      r8-r11:
        ipv6_address: "fd01:7::11"
      r8-r12:
        ipv6_address: "fd01:b::11"
      controller-r:
        ipv6_address: "fd02:1::9"
  r9:
    build: 
      context: ./router
    container_name: r9
    hostname: r9
    privileged: true
    restart: always
    networks:
      r5-r9:
        ipv6_address: "fd01:12::12"
      r6-r9:
        ipv6_address: "fd01:18::12"
      r9-r12:
        ipv6_address: "fd01:11::11"
      r9-r13:
        ipv6_address: "fd01:10::11"
      controller-r:
        ipv6_address: "fd02:1::a"

  r10:
    build: 
      context: ./router
    container_name: r10
    hostname: r10
    privileged: true
    restart: always
    networks:
      r6-r10:
        ipv6_address: "fd01:14::12"
      r10-r13:
        ipv6_address: "fd01:13::11"
      controller-r:
        ipv6_address: "fd02:1::b"
  r11:
    build: 
      context: ./router
    container_name: r11
    hostname: r11
    privileged: true
    restart: always
    networks:
      r7-r11:
        ipv6_address: "fd01:8::12"
      r8-r11:
        ipv6_address: "fd01:7::12"
      r11-r14:
        ipv6_address: "fd01:9::11"
      controller-r:
        ipv6_address: "fd02:1::c"
  r12:
    build: 
      context: ./router
    container_name: r12
    hostname: r12
    privileged: true
    restart: always
    networks:
      r8-r12:
        ipv6_address: "fd01:b::12"
      r9-r12:
        ipv6_address: "fd01:11::12"
      r12-r14:
        ipv6_address: "fd01:c::11"
      r12-r15:
        ipv6_address: "fd01:d::11"
      controller-r:
        ipv6_address: "fd02:1::d"
  r13:
    build: 
      context: ./router
    container_name: r13
    hostname: r13
    privileged: true
    restart: always
    networks:
      r9-r13:
        ipv6_address: "fd01:10::12"
      r10-r13:
        ipv6_address: "fd01:13::12"
      r13-r15:
        ipv6_address: "fd01:f::11"
      controller-r:
        ipv6_address: "fd02:1::e"
  r14:
    build: 
      context: ./router
    container_name: r14
    hostname: r14
    privileged: true
    restart: always
    networks:
      r11-r14:
        ipv6_address: "fd01:9::12"
      r12-r14:
        ipv6_address: "fd01:c::12"
      r14-r16:
        ipv6_address: "fd01:a::11"
      controller-r:
        ipv6_address: "fd02:1::f"
  r15:
    build: 
      context: ./router
    container_name: r15
    hostname: r15
    privileged: true
    restart: always
    networks:
      r12-r15:
        ipv6_address: "fd01:d::12"
      r13-r15:
        ipv6_address: "fd01:f::12"
      r15-r16:
        ipv6_address: "fd01:e::11"
      controller-r:
        ipv6_address: "fd02:1::10"
  r16:
    build: 
      context: ./router
      dockerfile: Dockerfile_r16
    container_name: r16
    hostname: r16
    privileged: true
    restart: always
    networks:
      r14-r16:
        ipv6_address: "fd01:a::12"
      r15-r16:
        ipv6_address: "fd01:e::12"
      controller-r:
        ipv6_address: "fd02:1::11"
      external-server:              # 外部server PC接続用
        ipv6_address: "fd03:1::11"

  controller:
    build: ./controller
    container_name: controller
    privileged: true
    restart: always
    volumes:
      - ./controller:/opt/app
    depends_on:
      - r1
      - r16
    networks:
      controller-r:
        ipv6_address: "fd02:1::20"

networks:
  external-upf:
    driver: macvlan
    driver_opts:
      parent: enp2s0f1
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd00:1::/64"

  r1-r2:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:1::/64"
  
  r1-r3:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:16::/64"

  r2-r4:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:2::/64"
  
  r2-r5:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:4::/64"

  r3-r5:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:17::/64"

  r3-r6:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:15::/64"

  r4-r7:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:3::/64"

  r4-r8:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:6::/64"

  r5-r8:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:5::/64"

  r5-r9:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:12::/64"

  r6-r9:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:18::/64"

  r6-r10:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:14::/64"

  r7-r11:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:8::/64"

  r8-r11:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:7::/64"

  r8-r12:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:b::/64"

  r9-r12:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:11::/64"

  r9-r13:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:10::/64"

  r10-r13:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:13::/64"

  r11-r14:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:9::/64"

  r12-r14:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:c::/64"

  r12-r15:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:d::/64"

  r13-r15:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:f::/64"

  r14-r16:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:a::/64"

  r15-r16:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd01:e::/64"

  external-server:
    driver: macvlan
    driver_opts:
      parent: enp2s0f0
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd03:1::/64"
  
  controller-r:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: "fd02:1::/64"

